<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.movieflow.media.MediaMapper">

    <insert id="insMedia" useGeneratedKeys="true" keyProperty="imedia">
        INSERT INTO t_media
        SET iuser = #{iuser}
        , title = #{title}
        , genre = #{genre}
        , date = #{date}
        <if test="star > 0">
            , star = #{star}
        </if>
        <if test="comment != null">
            , comment = #{comment}
        </if>
        , isSaw = #{isSaw}
    </insert>

    <update id="updMedia">
        UPDATE t_media
        SET iuser = #{iuser}
        <if test="title != null and title != '' ">
            , title = #{title}
        </if>
        <if test="genre > 0">
            , genre = #{genre}
        </if>
        <if test="date != null  and date != '' ">
            , date = #{date}
        </if>
        <if test="star > 0">
            , star = #{star}
        </if>
        <if test=" comment != null and comment != '' ">
            , comment = #{comment}
        </if>
        WHERE imedia = #{imedia}
    </update>

    <!--보류사유 - dto 받을 값 추가해야 한다고 생각-->
    <select id="dayMedia">
        SELECT A.imedia, A.date, A.star, B.pic
        FROM t_media A
        JOIN (
            SELECT B.imedia, A.pic
            FROM t_media_pics A
            JOIN t_media B
            ON A.imedia = B.imedia
            WHERE B.iuser = #{iuser}
            AND B.date = '#{date}'
            GROUP BY A.imedia
        ) B
        ON A.imedia = B.imedia
        WHERE A.iuser = #{iuser}
        AND A.date = '#{date}'
    </select>

    <!--보류사유 - dto 받을 값 추가해야 한다고 생각-->
    <update id="patchIsSaw">
        UPDATE t_media
        SET is_saw = #{isSaw}
        WHERE imedia = #{imedia}
        AND iuser = #{iuser}
    </update>

</mapper>
